<div class="row">
  <div class="span12">
  	<h2>Nieuwe video plaatsen</h2>
  	<p>Hieronder het stappenplan om een video vanuit youtube op deze site te krijgen.</p>

  	<h3>Stap 1: Video uploaden.</h3>
  	<ul class="help-list">
  		<li>Ga naar <a href="http://www.youtube.nl/">http://www.youtube.nl/</a>.</li>
  		<li>Log in met het schoolaccount door op aanmelden te klikken.<br>
  			<%= image_tag("youtube/Knipsel10.PNG", alt: "aanmelden") %></li>
  		<li>Vul vervolgens in inloggegevens in.<br>
  			<%= image_tag("youtube/Knipsel11.PNG", alt: "inloggen") %></li>
  		<li>Na het inloggen kunt u een video uploaden door op de "Uploaden" knop te klikken.<br>
  			<%= image_tag("youtube/Knipsel.PNG", alt: "uploaden") %></li>
  		<li>Klik vervolgens op de knop: "Bestanden selecteren op je computer".<br>
  			<%= image_tag("youtube/Knipsel2.PNG", alt: "uploaden2") %></li>
  		<li>Selecteer een videobestand, het uploaden zal automatisch beginnen.<br>
  			U kunt hier ook de titel en beschrijving wijzigen (let op, dit geldt alleen voor youtube!).<br>
  			<%= image_tag("youtube/Knipsel4.PNG", alt: "uploaden3") %></li>
  		<li>Als het uploaden voltooid is zal u hier een melding van krijgen.<br>
  			Onder deze melding staat een kleine link, dit is de URL naar de geuploade video.<br>
  			Klik hier op.<br>
  			<%= image_tag("youtube/Knipsel6.PNG", alt: "voltooid") %></li>
  		<li>Als u langere tijd wacht zal de melding verdwijnen, u kunt nog steeds gemakkelijk op de videopagina 	komen door op de knop "bekijken op videopagina" te klikken. (Rechtsbovenin de pagina).<br>
  			<%= image_tag("youtube/Knipsel12.PNG", alt: "videopagina") %></li>
  		<li>U komt vervolgens op de videopagina. U kunt hier de video bekijken om te controleren of het uploaden 	gelukt is.<br>
  			In uw browser kunt u nu de URL kopieren.<br>
  			<%= image_tag("youtube/Knipsel13.PNG", alt: "url") %></li>
  		<li>De laatste stap is simpelweg de URL in het "Video toevoegen" plakken.
  			<%= image_tag("youtube/Knipsel14.PNG", alt: "toevoegen") %></li>
  		<li>Vul het formulier volledig in. Dit is wat leerlingen te zien zullen krijgen. Druk vervolgens op 		Opslaan. <br>
  			Gefeliciteerd, u heeft zojuist een video toegevoegd vanuit Youtube!</li>
  	</ul>

  </div>
</div>