.row
  .large-12.columns
    %h2
      Opdrachtgevers
      =link_to new_dashboard_client_path, class: "btn-primary" do
        %i.icon-plus
        Nieuwe opdrachtgever toevoegen
.row
  .large-12.columns
    %ul.breadcrumbs
      %li=link_to "Home", root_path
      %li=link_to "Dashboard", dashboard_dashboard_path
      %li.current=link_to "Opdrachtgevers", dashboard_clients_path

.row
  .large-12.columns
    -if @clients.present?
      %table#users_index.display
        %thead
          %tr
            %th Naam
            %th Beschrijving
            %th Site
            %th 
            %th 
            %th 
        %tbody
          - @clients.each do |client|
            %tr
              %td= client.name
              %td= client.description
              %td= client.site
              %td= link_to 'Bekijken', dashboard_client_path(client)
              %td= link_to 'Aanpassen', edit_dashboard_client_path(client)
              %td= link_to 'Verwijderen', dashboard_client_path(client), :method => :delete, :data => { :confirm => 'Wilt u deze opdrachtgever verwijderen?' }

:javascript
    $('#users_index').dataTable({
      sPaginationType: "full_numbers",
      bJQueryUI: true,
      oLanguage: {
        "sProcessing": "Bezig...",
        "sLengthMenu": "_MENU_ resultaten weergeven",
        "sZeroRecords": "Geen resultaten gevonden",
        "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
        "sInfoEmpty": "Geen resultaten om weer te geven",
        "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
        "sInfoPostFix": "",
        "sSearch": "Zoeken:",
        "sEmptyTable": "Geen resultaten aanwezig in de tabel",
        "sInfoThousands": ".",
        "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
        "oPaginate": {
            "sFirst": "Eerste",
            "sLast": "Laatste",
            "sNext": "Volgende",
            "sPrevious": "Vorige"
        }
    }
  });