.row
  .large-12.columns
    %h2= @project.title

.row
  .large-12.columns
    %ul.breadcrumbs
      %li=link_to "Home", root_path
      %li=link_to "Dashboard", dashboard_dashboard_path
      %li=link_to "Projecten", dashboard_projects_path
      %li.current=link_to @project.title, dashboard_project_path(@project)

.row
  .large-12.columns
    %p
      %b Titel:
      = @project.title
    %p
      %b Beschrijving:
      = @project.description

    = link_to 'Bewerken', edit_dashboard_project_path(@project)
    \|
    = link_to 'Terug', dashboard_projects_path
