<%= simple_form_for @video, :html => { :class => 'form-horizontal signup' } do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <div>
    <h5>Youtube gegevens:</h5>
    <%= f.input :url, :label => "Youtube URL", :hint => "Bv: http://www.youtube.com/watch?v=DfPeprQ7oGc" %>
  </div>

  <div>
    <h5>Sitegerelateerde gegevens:</h5>
    <%= f.input :title, :label => "Titel"%>
    <%= f.input :description, :label => "Beschrijving"%>
    <%= f.input :course_id, collection: @courses, label_method: :name, value_method: :id%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Opslaan", :class => 'btn-primary' %>
    <%= submit_tag 'Opnieuw', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>